@import url(https://fonts.googleapis.com/css?family=Wire+One);

html, body {
  margin: 0;
  background-color: #25003a;
  overflow: hidden;
  font-family: 'Wire One', sans-serif;
  letter-spacing: 0.1em;
  font-size: 28px;
}

#canvas {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #25003a;
  overflow: hidden;
}

#abrir {
  position: absolute;
  margin: 10px;
  z-index: 8;
  
}

#abrir:hover {
  cursor: pointer;
  -webkit-animation: tilt 0.3s; /* Chrome, Safari, Opera */
  animation: tilt 0.3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes tilt {
    0%   {left: -4px;}
    25% {left: 4px;}
    50%   {left: -4px;}
    100%   {left: 4px;}
}

/* Standard syntax */
@keyframes tilt {
    0%   {left: -4px;}
    25% {left: 4px;}
    50% {left: -4px;}
    100% {left: 4px;}
}

#cerrar {  
  position: absolute;
  margin: 10px;
  z-index: 9;
}

#cerrar:hover {
  cursor: pointer;
  -webkit-animation: tilt 0.3s; /* Chrome, Safari, Opera */
  animation: tilt 0.3s;
}

#projects {
  position: absolute;
  width: 100%;
  background: rgba(255,255,255, 0.8);
  z-index: 9;

  transition: ease 1s;
}

#centro {
  position: relative;
  width: 300px;
  top: 40%;
  left: 45%;
}

h1 {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-family: 'Wire One', sans-serif;
  font-size: 28px;
  text-align: center;
  transform: translate(0, -50%);
  z-index: 8;
  color: white;
  font-weight: normal;
  letter-spacing: 0.1em;
}

h2 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-family: 'Wire One', sans-serif;
  font-size: 28px;
  text-align: center;
  transform: translate(0, -50%);
  z-index: 8;
  color: white;
  font-weight: normal;
  letter-spacing: 0.1em;
}

span {
	color: white;
}